# 조건문

## 2884번 알람시계

In [ ]:
H, M = map(int,input().split())
if (H > 0) & (M < 45):
    H -= 1
    M += 15
elif (H == 0) & (M < 45):
    H = 23
    M += 15
else:
    M -= 45 
print(H,M)

## 2525번 오븐시계

In [ ]:
H, M = map(int,input().split())
C = int(input())

hm = H * 60 + M
hm += C

if hm < 60:
    new_h = 0
    new_M = hm
else:
    new_H = hm // 60
    new_M = hm % 60
    if new_H > 23:
        new_H -= 24

print(new_H, new_M)

## 2480번 주사위 세개

In [ ]:
dice = list(map(int,input().split()))
dice.sort()
result = 0
if dice[0] == dice[2]:
    result = 10000 + dice[0]*1000
elif (dice[0] == dice[1]) | (dice[1] == dice[2]):
    result = 1000 + dice[1]*100
else:
    result = dice[2]*100
print(result)

# 1차원 배열

## 10818번 최소,최대

In [ ]:
N = int(input())
num_ls = list(map(int,input().split()))
num_ls.sort()
print(num_ls[0], num_ls[N-1])

## 10813번 공바꾸기

In [ ]:
N ,M = map(int,input().split())
num_ls = list(range(1,N+1))
for i in range(M):
    a, b = map(int,input().split())
    a -= 1
    b -= 1
    tmp = num_ls[a]
    num_ls[a] = num_ls[b]
    num_ls[b] = tmp
# result = ' '.join(map(str,num_ls))
for num in num_ls:
    print(num,end=' ')

In [ ]:
import sys
sys.stdin.readline()

In [ ]:
'a b 31 4'.split()

In [ ]:
a = 3,4
type(a)

In [22]:
number_of_people = 0


def increase_user(name):
    global number_of_people
    number_of_people += len(name)
    #print(f'{name}님 환영합니다!')


def create_user():
    global user_info
    increase_user(name)
    user_info = list(map(lambda n, a, ad: {'name': n, 'age': a, 'address': ad}, name, age, address))
    for info in user_info:
        print(f'{info["name"]}님 환영합니다!')
    print(user_info)

user_info = []

name = ['김시습', '허균', '남영로', '임제', '박지원']
age = [20, 16, 52, 36, 60]
address = ['서울', '강릉', '조선', '나주', '한성부']

create_user()
print(number_of_people)

김시습님 환영합니다!
허균님 환영합니다!
남영로님 환영합니다!
임제님 환영합니다!
박지원님 환영합니다!
[{'name': '김시습', 'age': 20, 'address': '서울'}, {'name': '허균', 'age': 16, 'address': '강릉'}, {'name': '남영로', 'age': 52, 'address': '조선'}, {'name': '임제', 'age': 36, 'address': '나주'}, {'name': '박지원', 'age': 60, 'address': '한성부'}]
5

In [26]:
number_of_people = 0
number_of_book = 100

def increase_user(name):
    global number_of_people
    number_of_people += len(name)

def decrease_book(num_book):
    global number_of_book
    number_of_book -= num_book
    print(f'남은 책의 수: {number_of_book}')

name = ['김시습', '허균', '남영로', '임제', '박지원']
age = [20, 16, 52, 36, 60]
address = ['서울', '강릉', '조선', '나주', '한성부']

def create_user():
    global user_info
    increase_user(name)
    user_info = list(map(lambda n, a, ad: {'name': n, 'age': a, 'address': ad}, name, age, address))
    for info in user_info:
        print(f'{info["name"]}님 환영합니다!')

user_info = []

def rental_book(info):
    num_books = info['age'] // 10
    decrease_book(num_books)
    print(f"{info['name']}님이 {num_books}권의 책을 대여하였습니다.")

create_user()

for user in user_info:
    rental_book(user)

김시습님 환영합니다!
허균님 환영합니다!
남영로님 환영합니다!
임제님 환영합니다!
박지원님 환영합니다!
남은 책의 수: 98
김시습님이 2권의 책을 대여하였습니다.
남은 책의 수: 97
허균님이 1권의 책을 대여하였습니다.
남은 책의 수: 92
남영로님이 5권의 책을 대여하였습니다.
남은 책의 수: 89
임제님이 3권의 책을 대여하였습니다.
남은 책의 수: 83
박지원님이 6권의 책을 대여하였습니다.

In [19]:
welcome_messages

['김시습님 환영합니다!', '허균님 환영합니다!', '남영로님 환영합니다!', '임제님 환영합니다!', '박지원님 환영합니다!']